---

---
<div class="nav-links">
  <a class="dark:bg-slate-900 dark:text-slate-200 p-2 rounded" href="/">Inicio</a>
  <a class="dark:bg-slate-900 dark:text-slate-200 p-2 rounded" href="/about">Sobre mi</a>
  <a class="dark:bg-slate-900 dark:text-slate-200 p-2 rounded" href="/blog">Blog</a>
  <a class="dark:bg-slate-900 dark:text-slate-200 p-2 rounded" href="/tags">Etiquetas</a>
</div>